= form_for @add_location_to_user do |f|
  - if @add_location_to_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@add_location_to_user.errors.count, "error")} prohibited this add_location_to_user from being saved:"
      %ul
        - @add_location_to_user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :location
    = f.text_field :location
  .actions
    = f.submit 'Save'
