%h1 Listing groups

%table
  %tr
    %th Title
    %th Hashtag
    %th Privacy
    %th
    %th

  - @groups.each do |group|
    %tr
      %td= group.title
      %td= group.hashtag
      %td= group.privacy
      %td= link_to 'Show', group
      %td= link_to 'Join', '#'

%br

