%h1 Listing groups

%table
  %tr
    %th Title
    %th Hashtag
    %th Privacy
    %th
    %th

  - @groups.each do |group|
    %tr
      %td= group.title
      %td= group.hashtag
      %td= group.privacy
      %td= link_to 'Show', group
      -if !current_user.groups.include?(group)
        %td= link_to 'Join', group_join_path(group)
      -else
        %td= link_to 'UnJoin', group_join_path(group)

%br

