%p#notice= notice

%p
  %b Title:
  = @group.title
%p
  %b Hashtag:
  = @group.hashtag
%p
  %b Description:
  = @group.description
%p
  %b Privacy:
  = @group.privacy
= link_to 'New Vote', new_group_question_path(@group)

= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path
