%h1 Listing add_group_to_users

%table
  %tr
    %th Group
    %th Timestamp
    %th
    %th
    %th

  - @add_group_to_users.each do |add_group_to_user|
    %tr
      %td= add_group_to_user.group
      %td= add_group_to_user.timestamp
      %td= link_to 'Show', add_group_to_user
      %td= link_to 'Edit', edit_add_group_to_user_path(add_group_to_user)
      %td= link_to 'Destroy', add_group_to_user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Add group to user', new_add_group_to_user_path
