%p#notice= notice

%p
  %b Group:
  = @add_group_to_user.group
%p
  %b Timestamp:
  = @add_group_to_user.timestamp

= link_to 'Edit', edit_add_group_to_user_path(@add_group_to_user)
\|
= link_to 'Back', add_group_to_users_path
